body {
    /*padding: 20px;*/
    /*padding-top:0px;*/
    /*margin-top:0px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}
nav {
    display: inline-block;
}

header {
    background-color: lightskyblue;
    max-height: 100px;
}
footer {
    background-color:gray;
    height: auto;
    margin-left: 0px;
    clear: both;
}

li.hoop {
    display: inline-block;
    margin: 20px;
}

li.raar{
    display:block;
    color: white;
    }
a {
    color: white;
}
ul {


}
ul#dab {
    display:block;
}
h3 {
    color: white;
    margin: 30px;
}
h2 {
    margin-right: 584px;
    margin-top: 10px;
}
p {
    color: white;
    margin: 30px;
}
h1 {
    margin-left: 78px;
}
section#ss1 {
    width: 40%;
    text-align: left;
    float: left;
}
section#ss2 {
    width: 60%;
    height: auto;
    text-align: right;
    display: block;
    float: right;
    margin-left: 0px;
    background-color: yellow;
}
article#aa1 {
    width: 40%;
}
iframe {
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
article#aa2 {

    width: 470px;
    height: auto;
    text-align: left;
    margin-left: 20px;
}

 section#ss1 {
    background-color: magenta;
}
 section#man {
     background-color:red;
     margin: 20px;
     display: inline-block;
 }
 article#output {
     margin: 20px;
     display: inline-block;
 }
 article#door {
     width: 150px;
     height: auto;
     margin-left: 60px;
     margin-top: 50px;
 }
 h4 {
     margin-left: 60px;
 }
 h6 {
     font-size: 40px;
 }