body {
    padding: 20px;
    padding-top:0px;
    margin-top:0px;
    margin-left: 10px;
    margin-right: 10px;
}
nav {
    display: inline-block;
}

header {
    background-color: lightskyblue;
    max-height: 100px;
}
footer {
    background-color:gray;
    height: auto;
    margin-left: 0px;
}
img#almere{
    width: 310px;
    padding:10px;
}
img#politie {
    width: 310px;
    padding: 10px;
}
img#overzichtconcert {
    text-align:right;
    width: 450px;
    height: auto;
    display: inline-block;
    margin-left:420px;
}
img#roc {
    width: 310px;
    padding: 10px;
}
article#a1{
    margin-left: 10px;
    width: 300px;
    height: auto;
}

article#a2 {
    text-align: left;
    width: 320px;
    height:600px;
    margin-left: 177px;
    /*margin-left: 155px;*/
}
section#s2 {
    text-align:left;
    display:inline-block;
    height: auto;

}

section#s1{
    margin: 10px;
    display: inline-block;
}

article#a3 {
    /*text-align:right;*/
    width: 304px;
    height:600px;
    margin-left:166px;
}
section#s3 {
    /*text-align: right;*/
    display: inline-block;
    height: auto;
    margin: 10px;
}



 h3 {
     margin: 10px;
     height: auto;
 }

 h1 {
     text-align: right;
     margin-right: 400px;
 }

ul#dab {
    display:block;
}


div#divje {
    display: inline-block;
}

li.hoop {
    display: inline-block;
    margin: 20px;
}

li.raar{
    display:block;
   }
ul {

}

h2 {
    margin: 10px;
    text-align: right;
    width: 401px;
}
p {
    margin-left: 458px;
}
iframe {
    display: inline-block;
    text-align: left;
}
a {
    color: white;
}

section#s4 {
    display: inline-block;
}
article#a4 {
    text-align: right;
    display: inline-block;
    margin-left: 860px;
}
section#s5 {
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px;
}
img#js {
    width: 200px;
    height: 130px;
    margin-left: 10px;
    display: inline-block;
}
img#blof {
    margin-left: 0px;
}
img#guus {
    /*width: 200px;*/
    height: 130px;
    display: inline-block;
    margin-left: 70px;
}
img#nielson {
    /*width: 200px;*/
    height: 130px;
    display: inline-block;
    margin-left: 70px;
}

div#lijntje {
    background-color: red;
    margin-bottom: 10px;
    /*VOOOR DE DUIDLEIJKHEID TE VERBETEREN*/
}